<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="base_head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" href=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<head th:fragment="summernote(title,linkes,scripts)">
    <meta charset="UTF-8">
    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <title th:replace="${title}">Title</title>
    <th:block th:replace="${scripts}"/>
    <th:block th:replace="${linkes}"/>
    <style>
        .note-editor .note-editable {
            line-height: 0.2;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height:500,
                fix:true,
                focus: true,
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0], this);
                    }
                }
            });
        });

        function sendFile(file, el) {
            let form_data = new FormData();
            form_data.append('file', file);
            $.ajax({
                data: form_data,
                type: "POST",
                url: 'http://localhost:8080/file/image',
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    let fileUrl = data.fileUrl;
                    $(el).summernote('editor.insertImage', fileUrl);
                }
            });
        }

    </script>
</head>
<body>

</body>
</html>